<div class="jumbotron">
  <div class="container sign-in-up">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="tab-content">

          <div class="tab-pane fade in active">
            <form name="complaintForm">
              <div class="form-group label-floatin">
                <div class="right-inner-addon">
                  <label for="login-input" class="control-label">Login użytkownika zgłaszającego reklamację</label>
                  <input id="login-input" class="form-control input-lg" type="text" ng-model="username"
                         ng-required="true">
                </div>
              </div>

              <div class="form-group label-floatin">
                <div class="right-inner-addon">
                  <label for="password-input" class="control-label">Treść reklamacji</label>
                  <textarea id="password-input" class="form-control input-lg" ng-model="text"
                            ng-required="true" ng-minlength="20" cols="80" rows="10"></textarea>
                </div>
              </div>
            </form>
          </div>

          <div>
            <button type="submit" class="btn btn-raised btn-primary wide-button" ng-click="addComplaint()" id="log-btn"
                    ng-disabled="!complaintForm.$valid">
              <span ng-show="inLoginProgress" class="fa fa-spinner fa-spin"></span>Zgłoś reklamację
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
