<div class="jumbotron">
  <div class="container sign-in-up">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="tab-content">

          <div class="tab-pane fade in active">
            <form name="clientCreateForm">
              <div class="form-group label-floatin">
                <div class="right-inner-addon">
                  <label for="login-input" class="control-label">Login</label>
                  <input id="login-input" class="form-control input-lg" type="text" ng-model="username"
                         ng-minlength="5" ng-maxlength="20" ng-required="true">
                </div>
              </div>

              <div class="form-group label-floatin">
                <div class="right-inner-addon">
                  <label for="name-input" class="control-label">Imię</label>
                  <input id="name-input" class="form-control input-lg" type="name" ng-model="name"
                         ng-required="true">
                </div>
              </div>

              <div class="form-group label-floatin">
                <div class="right-inner-addon">
                  <label for="surname-input" class="control-label">Nazwisko</label>
                  <input id="surname-input" class="form-control input-lg" type="surname" ng-model="surname"
                         ng-required="true">
                </div>
              </div>

              <div class="form-group label-floatin">
                <div class="right-inner-addon">
                  <label for="email-input" class="control-label">Adres email</label>
                  <input id="email-input" class="form-control input-lg" type="email" ng-model="email"
                         ng-required="true">
                </div>
              </div>

              <div class="form-group label-floatin">
                <div class="right-inner-addon">
                  <label for="address-input" class="control-label">Adres</label>
                  <input id="address-input" class="form-control input-lg" type="address" ng-model="address"
                         ng-required="false">
                </div>
              </div>
            </form>
          </div>

          <div>
            <button type="submit" class="btn btn-raised btn-primary wide-button" ng-click="createClient()" id="log-btn"
                    ng-disabled="!clientCreateForm.$valid">
              <span ng-show="inLoginProgress" class="fa fa-spinner fa-spin"></span>Dodaj konto klienta
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
